OPENWEATHER_API_KEY=2a4c0012073a436f46abbcfc4e7a633b
S3_BUCKET_NAME=khetipulse-data-728033416237-us-east-1
BEDROCK_KB_ID=YEDMTIMGD5
DYNAMODB_TABLE_USERS=Users
DYNAMODB_TABLE_ADVISORY=AdvisoryHistory
AGMARKNET_API_KEY=579b464db66ec23bdd000001fee029797c5f45b9462e3f8d384d4730
CLAUDE_MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
AWS_ACCESS_KEY_ID=AKIA2TARMKQWRRVOSG5E
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1